html {
  font-size: 62.5%;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  background-color: #83c05b;
}
.logo {
  max-width: 100%;
}
.main-nav ul {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  margin-right: -1rem;
}
.main-nav ul > * {
  flex-grow: 1;
  padding: 1rem;
  text-align: center;
  color: white;
  border: solid 1px #689845;
  border-radius: 10px;
  background-color: #9dcd7c;
}
article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
section {
  border: solid white 1rem;
  background-color: white;
  margin: 0rem -1rem 1rem 1rem;
  text-align: left;
  flex-basis: 33.33%;
}
.vision {
  border: solid white 1rem;
  background-color: #e3dbc0;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  margin-top: 1rem;
}
header {
  margin: auto;
}
.vision-image {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  float: right;
}
div {
  background-color: lightgray;
  padding: 1rem;
}

.tasty,
.interior {
  padding-top: 1rem;
  display: flex;
  max-width: 100%;
}
.newslist {
  display: flex;
  flex-direction: column;
}
/* TAPAHTUMAT FLEXTATAAN RIVIIN */
.newslist ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.5rem;
}
/* PÄIVÄMÄÄRIIN BOLDAUS, RAJAUS JA OIKEALLE MARGIN */
.newslist ul li:first-child {
  font-weight: 700;
  width: 4rem;
  margin-right: 1rem;
}
footer {
  text-align: left;
  margin: 0rem 0rem 1rem 1rem;
}
.info {
  color: white;
}
svg {
  max-width: 1.5rem;
  float: right;
  margin-top: -0.5rem;
}
@media screen and (max-width: 425px) {
  article {
    display: block;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .main-nav ul {
    display: block;
    flex-direction: column;
  }
  .main-nav ul > * {
    flex-grow: 1;
    flex-basis: 100%;
    padding: 1rem;
    text-align: center;
    color: white;
    border: solid 1px #689845;
    border-radius: 10px;
    background-color: #9dcd7c;
  }
  .vision {
    background-color: transparent;
    border: transparent;
  }
  .vision img {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .box1,
  .box2 {
    flex-grow: 1;
  }
  .box3 {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 769px) {
  body {
    margin: 0rem 3rem 0rem 1rem;
  }
  .box2 {
    padding-inline-end: 0.5rem;
  }
  /* OTETAAN KOLMAS LAATIKKO MUKAAN RIVIIN */
  .box3 {
    flex-basis: 0;
    flex-grow: 1;
  }
}
