html {
  font-size: 62.5%;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 1rem;
  padding: 10px;
  font-size: 1.6rem;
  background-color: #83c05b;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  flex-basis: 100%;
}
.main-nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
  margin-left: 1rem;
}
.main-nav ul > * {
  flex-grow: 1;
  flex-basis: 0%;
  padding: 1rem;
  text-align: center;
  color: white;
  border: solid 1px #689845;
  border-radius: 10px;
  background-color: #9dcd7c;
}
article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
section {
  border: solid white 1rem;
  background-color: white;
  margin: 1rem;
  text-align: left;
  flex-basis: 33.33%;
}
.vision {
  border: solid white 1rem;
  background-color: #e3dbc0;
  margin: 1rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  min-width: 100%;
}
header {
  margin: auto;
}
.vision img {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  float: right;
}
div {
  background-color: lightgray;
  padding: 1rem;
}
caption {
  font-weight: bold;
  font-size: 5rem;
  text-align: right;
}
img {
  display: flex;
  max-width: 100%;
  margin-top: 1rem;
}
samp {
  text-align: left;
}
.info {
  color: white;
}
svg {
  max-width: 1.5rem;
  float: right;
  margin-top: -0.5rem;
}
@media screen and (max-width: 425px) {
  .main-nav ul {
    flex-direction: column;
  }
  .main-nav ul > * {
    max-width: none;
  }
  .vision {
    background-color: transparent;
    border: transparent;
  }
  .vision img {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  body {
    padding: 0 2rem 0 2rem;
  }
}
